section{
  ul{
    display: block;
    text-align: center;
    li{
      list-style: none;
      display: inline-block;
      background: rgba(0, 65, 123, 0.2);
      border-radius: 3px;
      margin: 3px 10px;
      width: 300px;
      .bgPhoneIcon{
        background: rgba(0, 65, 123, 1);
      }
      .bgPhoneText{
        background: rgba(0, 65, 123, .1);
      }
      .bgViberIcon{
        background: rgba(122, 26, 250, 1);
      }
      .bgViberText{
        background: rgba(122, 26, 250, .1);
      }
      .bgInstagramIcon{
        background: rgba(211, 4, 182, 1);
      }
      .bgInstagramText{
        background: rgba(211, 4, 182, .1);
      }
      .bgTelegramIcon{
        background: rgba(66, 196, 246, 1);
      }
      .bgTelegramText{
        background: rgba(66, 196, 246, .1);
      }
      .bgGmailIcon{
        background: rgba(246, 71, 71, 1);
      }
      .bgGmailText{
        background: rgba(246, 71, 71, .1);
      }
      .bgLocationIcon{
        background: rgba(192, 57, 43, 1);
      }
      .bgLocationText{
        background: rgba(192, 57, 43, .1);
      }
      a{
        text-decoration: none;
        display: flex;
        flex-direction: row;
        color: black;
        flex-wrap: nowrap;
        .icon{
          padding: 10px 15px;
          border-bottom-left-radius: 3px;
          border-top-left-radius: 3px;
          font-size: 25px;
          color: white;
        }
        .text{
          border-bottom-right-radius: 3px;
          border-top-right-radius: 3px;
          width: 100%;
          padding: 5px 10px;
          text-align: left;
          h5{
            text-transform: uppercase;
          }
          p{
            color: #001c44;
          }
        }
      }
    }
  }
}
