<section>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <p>У нас вы можете купить мотоэкипировку от ведущих производителей У нас вы можете купить мотоэкипировку от ведущих производителей  много мотоэкипировки по доступным ценам. </p>
        <h4>Наши Контакты</h4>
        <ul>
          <li>
            <a  href="tel:+380505955843">
              <div class="icon">
                <i class="fas fa-phone"></i>
              </div>
              <span class="text">
                <h5>Телефон: </h5>
                <p>(050) 595 5843</p>
              </span>
            </a>
          </li>
          <li>
            <a href="viber://add?number=0505955843">
              <div class="icon">
                <i class="fab fa-viber"></i>
              </div>
              <span class="text">
                <h5>Viber: </h5>
                <p>(050) 595 5843</p>
              </span>
            </a>
          </li>
          <li>
            <a href="tg://resolve?domain=<@webdeveloperjs>">
              <div class="icon">
                <i class="fab fa-telegram"></i>
              </div>
              <span class="text">
                <h5>Telegram</h5>
                <p>(050) 595 5843</p>
              </span>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="https://www.instagram.com/motoshield/">
              <div class="icon">
                <i class="fab fa-instagram"></i>
              </div>
              <span class="text">
                <h5>Instagram</h5>
                <p>Moto Shield</p>
              </span>
            </a>
          </li>
          <li>
            <a href="mailto:motoshield@gmail.com">
              <div class="icon">
                <i class="fas fa-envelope"></i>
              </div>
              <span class="text">
                <h5>Почта</h5>
                <p>motoshield@gmail.com</p>
              </span>
            </a>
          </li>
          <li>
            <a disabled="disabled">
              <div class="icon">
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <span class="text">
                <h5>локация</h5>
                <p>г. Ивано-Франковск</p>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
