<section class="wrapSection">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="sectionTitle">Наши Контакты</h3>
        <ul>
          <li>
            <a  href="tel:+380505955843">
              <div class="icon bgPhoneIcon">
                <i class="fas fa-phone"></i>
              </div>
              <span class="text bgPhoneText">
                <h5 class="sectionH5">Телефон: </h5>
                <p class="sectionText">(050) 595 5843</p>
              </span>
            </a>
          </li>
          <li>
            <a href="viber://add?number=0505955843">
              <div class="icon bgViberIcon">
                <i class="fab fa-viber"></i>
              </div>
              <span class="text bgViberText">
                <h5 class="sectionH5">Viber: </h5>
                <p class="sectionText">(050) 595 5843</p>
              </span>
            </a>
          </li>
          <li>
            <a href="tg://resolve?domain=<@webdeveloperjs>">
              <div class="icon bgTelegramIcon">
                <i class="fab fa-telegram"></i>
              </div>
              <span class="text bgTelegramText">
                <h5 class="sectionH5">Telegram</h5>
                <p class="sectionText">(050) 595 5843</p>
              </span>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="https://www.instagram.com/motoshield/">
              <div class="icon bgInstagramIcon">
                <i class="fab fa-instagram"></i>
              </div>
              <span class="text bgInstagramText">
                <h5 class="sectionH5">Instagram</h5>
                <p class="sectionText">Moto Shield</p>
              </span>
            </a>
          </li>
          <li>
            <a href="mailto:motoshield@gmail.com">
              <div class="icon bgGmailIcon">
                <i class="fas fa-envelope"></i>
              </div>
              <span class="text bgGmailText">
                <h5 class="sectionH5">Почта</h5>
                <p class="sectionText">motoshield@gmail.com</p>
              </span>
            </a>
          </li>
          <li>
            <a disabled="disabled">
              <div class="icon bgLocationIcon">
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <span class="text bgLocationText">
                <h5 class="sectionH5">локация</h5>
                <p class="sectionText">г. Ивано-Франковск</p>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
