<p mat-dialog-title>Заполните заявку и наш менеджер свяжеться с вами. </p>
  <div mat-dialog-content *ngIf="sendStatus">
    <form [formGroup]="callbackForm" (ngSubmit)="submit()">
      <mat-form-field class="full-width">
        <mat-label>Номер телефона</mat-label>
        <input matInput placeholder="Номер телефона"  formControlName="phone" type="number">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Комментарий</mat-label>
        <textarea matInput placeholder="Комментарий" formControlName="commend"></textarea>
      </mat-form-field>
      <button class="shoppingButton" [disabled]="callbackForm.invalid" [ngClass]="{disabledShBtn: callbackForm.invalid}">
        <p>Отправить заявку</p>
      </button>
    </form>
  </div>
<div mat-dialog-content *ngIf="!sendStatus">
  <p class="sectionText green">{{msg}}</p>
</div>
