<div class="wrapContainer">
  <img id="subImgOne" src="../../../../assets/image/waveshadow.svg" alt="Moto Shield">
  <div class="subContainer">
    <div class="imageContainer">
      <img src="../../../../assets/image/subLogo.svg" alt="Moto Shield">
    </div>
    <div class="textContainer">
      <h2>Безпека за розумні гроші</h2>
      <h1>У нас вы можете купить мотоэкипировку от ведущих производителей
        <br> Alpinestars, Dainese, AGV, SHOEI. В ассортименте присутствуют
        <br> много мотоэкипировки по доступным ценам. </h1>
    </div>
  </div>
  <div class="contactContainer">
    <ul>
      <li class="btn_gradient">
        <a href="tel:0505955843"><i class="fas fa-mobile-alt"></i> (050) 595 5843</a>
      </li>
      <li class="btn_gradient">
        <a  href="mailto:motoshield@gmail.com"><i  class="fas fa-envelope"></i> Moto Shield</a>
      </li>
      <li class="btn_gradient">
        <a  href="https://www.instagram.com/motoshield/"><i  class="fab fa-instagram"></i> Moto Shield</a>
      </li>
    </ul>
  </div>
</div>

