<aside>
  <p class="sectionText filterTitle">
    Фильтр
  </p>
 <mat-form-field class="example-full-width">
    <mat-label>Поиск</mat-label>
    <input matInput placeholder="Поиск" value="">
  </mat-form-field>
  <p class="sectionText filterTitle">
    Категории
  </p>
  <ul class="category" >
    <li
      *ngFor="let cat of category"
      (click)="filterCategory(cat)"
      [class.active]="cat.filterKey === activeItem"
    >
      <i class="fas fa-toggle-on" *ngIf="cat.filterKey === activeItem"></i>
      <i class="fas fa-toggle-off" *ngIf="cat.filterKey !== activeItem"></i>
      {{cat.name}}
      <span>({{categoryCounter ? categoryCounter[cat.filterKey]: ""}})</span>
    </li>
  </ul>
  <p class="sectionText filterTitle">
    Размер
  </p>
  <ul class="size">
    <ng-container *ngFor="let cat of sizeCounter">
      <li
        (click)="filterSize(cat)"
        [class.active]="cat.name === activeSizeItem"
      >
        <i class="fas fa-toggle-on" *ngIf="cat.name === activeSizeItem"></i>
        <i class="fas fa-toggle-off" *ngIf="cat.name !== activeSizeItem"></i>
        {{cat.name}}
        <span>({{cat.filterSize}})</span>
      </li>
    </ng-container>
  </ul>
</aside>
