<aside>
  <button (click)="filterStates()">Фильтр</button>
  <p class="sectionText filterTitle filter">
    Фильтр
  </p>
 <mat-form-field class="example-full-width">
    <mat-label>Поиск</mat-label>
    <input matInput placeholder="Поиск" value="">
  </mat-form-field>
  <div class="filterBlock" *ngIf="filterState">
    <p class="sectionText filterTitle">
      Категории
    </p>
    <div class="category" >
      <div class="radio-container"
           *ngFor="let cat of category"
           (click)="filterCategory(cat)"
      >
        <input type="radio"
               name="group1"
               id="{{cat.name}}"
               [checked]="cat.filterKey === activeItem"
               (click)="scroll()"
        >
        <label for="{{cat.name}}">
            <span class="radio">
              {{cat.name}}
              <span>({{categoryCounter ? categoryCounter[cat.filterKey]: ""}})</span>
            </span>
        </label>
      </div>
    </div>
    <p class="sectionText filterTitle">
      Размер
    </p>
    <div class="size">
      <div class="radio-container"
           *ngFor="let size of sizeCounter"
           (click)="filterSize(size)"
      >
        <input type="radio"
               name="group2"
               id="{{size.name}}"
               [checked]="size.name === activeSizeItem"
               (click)="scroll()"
        >
        <label for="{{size.name}}">
            <span class="radio">
              {{size.name}}
              <span>({{size.filterSize}})</span>
            </span>
        </label>
      </div>
    </div>
  </div>
</aside>
