<app-sub-header></app-sub-header>
<section>
  <div class="category">
    <div class="container">
      <div class="row">
        <div class="col-xl-3">
          <div class="categoryItem" (click)="selectCategory('helm')">
            <div class="icon">
              <img src="../../../assets/image/filterIcon/helm.svg" alt="Moto Shield">
            </div>
            <p>Мотошлемы</p>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="categoryItem" (click)="selectCategory('clothing')">
            <div class="icon">
              <img src="../../../assets/image/filterIcon/sute.svg" alt="Moto Shield">
            </div>
            <p>Мотоодежда</p>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="categoryItem" (click)="selectCategory('glove')">
            <div class="icon">
              <img src="../../../assets/image/filterIcon/hend.svg" alt="Moto Shield">
            </div>
            <p>Мотоперчатки</p>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="categoryItem" (click)="selectCategory('boot')">
            <div class="icon">
              <img src="../../../assets/image/filterIcon/boots.svg" alt="Moto Shield">
            </div>
            <p>Мотоботы</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-list-shop></app-list-shop>
