<section>
  <div class="category">
    <div class="container">
      <div class="row">
        <div class="col-xl-3">
          <div class="categoryItem">
            <div class="icon">
              <img src="../../../assets/image/filterIcon/helm.svg" alt="Moto Shield">
            </div>
            <p>Мотошлемы</p>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="categoryItem">
            <div class="icon">
              <img src="../../../assets/image/filterIcon/sute.svg" alt="Moto Shield">
            </div>
            <p>Мотоодежда</p>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="categoryItem">
            <div class="icon">
              <img src="../../../assets/image/filterIcon/hend.svg" alt="Moto Shield">
            </div>
            <p>Мотоперчатки</p>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="categoryItem">
            <div class="icon">
              <img src="../../../assets/image/filterIcon/boots.svg" alt="Moto Shield">
            </div>
            <p>Мотоботы</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Model-->
<section>
<div class="shopContainer">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <div class="itemShop">
          <div class="imgContainer">
            <img src="../../../assets/image/shop/photo_2020-11-09_16-57-37.jpg" alt="">
            <div class="sizeContainer">
              <p>Размер: X</p>
            </div>
          </div>
          <div class="textItem">
            <h3>AGV K5</h3>
            <div class="row">
              <div class="col-xl-6">
                <p><span><img src="../../../assets/image/filterIcon/uah.svg" alt="uah"></span>
                  1000 грн.</p>
              </div>
              <div class="col-xl-6">
                <button class="shoppingButton">
                  <div class="shoppingIcon">
                    <i class="fas fa-shopping-bag"></i>
                  </div>
                  <p>Купить</p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="itemShop">
          <div class="imgContainer">
            <img src="../../../assets/image/shop/photo_2020-11-09_16-57-37.jpg" alt="">
            <div class="sizeContainer">
              <p>Размер: X</p>
            </div>
            <div class="label">
              <p>Новое</p>
            </div>
          </div>
          <div class="textItem">
            <h3>AGV K5</h3>
            <div class="row">
              <div class="col-xl-6">
                <p><span><img src="../../../assets/image/filterIcon/uah.svg" alt="uah"></span>
                  1000 грн.</p>
              </div>
              <div class="col-xl-6">
                <button class="shoppingButton">
                  <div class="shoppingIcon">
                    <i class="fas fa-shopping-bag"></i>
                  </div>
                  <p>Купить</p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="itemShop">
          <div class="imgContainer">
            <img src="../../../assets/image/shop/photo_2020-11-09_16-57-37.jpg" alt="">
            <div class="sizeContainer">
              <p>Размер: X</p>
            </div>
            <div class="label">
              <p>Акция</p>
            </div>
          </div>
          <div class="textItem">
            <h3>AGV K5</h3>
            <div class="row">
              <div class="col-xl-6">
                <p><span><img src="../../../assets/image/filterIcon/uah.svg" alt="uah"></span>
                  1000 грн. <span class="sale">-10%</span></p>
              </div>
              <div class="col-xl-6">
                <button class="shoppingButton">
                  <div class="shoppingIcon">
                    <i class="fas fa-shopping-bag"></i>
                  </div>
                  <p>Купить</p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="itemShop sold">
          <div class="imgContainer">
            <img src="../../../assets/image/shop/photo_2020-11-09_16-57-37.jpg" alt="">
            <div class="sizeContainer">
              <p>Размер: X</p>
            </div>
          </div>
          <div class="textItem">
            <h3>AGV K5</h3>
            <div class="row">
              <div class="col-xl-6">
                <p><span><img src="../../../assets/image/filterIcon/uah.svg" alt="uah"></span>
                  1000 грн.</p>
              </div>
              <div class="col-xl-6">
                <button disabled class="shoppingButton sold">
                  <div class="shoppingIcon">
                    <i class="fas fa-shopping-bag"></i>
                  </div>
                  <p>Купить</p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="itemShop">
          <div class="imgContainer">
            <img src="../../../assets/image/shop/photo_2020-11-09_16-57-37.jpg" alt="">
            <div class="sizeContainer">
              <p>Размер: X</p>
            </div>
          </div>
          <div class="textItem">
            <h3>AGV K5</h3>
            <div class="row">
              <div class="col-xl-6">
                <p><span><img src="../../../assets/image/filterIcon/uah.svg" alt="uah"></span>
                  1000 грн.</p>
              </div>
              <div class="col-xl-6">
                <button class="shoppingButton">
                  <div class="shoppingIcon">
                    <i class="fas fa-shopping-bag"></i>
                  </div>
                  <p>Купить</p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="itemShop">
          <div class="imgContainer">
            <img src="../../../assets/image/shop/photo_2020-11-09_16-57-37.jpg" alt="">
            <div class="sizeContainer">
              <p>Размер: X</p>
            </div>
          </div>
          <div class="textItem">
            <h3>AGV K5</h3>
            <div class="row">
              <div class="col-xl-6">
                <p><span><img src="../../../assets/image/filterIcon/uah.svg" alt="uah"></span>
                  1000 грн.</p>
              </div>
              <div class="col-xl-6">
                <button class="shoppingButton">
                  <div class="shoppingIcon">
                    <i class="fas fa-shopping-bag"></i>
                  </div>
                  <p>Купить</p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
