.topFooter{
  text-align: center;
  .ln{
    background: #42c4f6;
    height: 1px;
    width: 40%;
    margin: 5px auto;
  }
  ul{
    li{
      list-style: none;
      display: inline-block;
      color: white;
      font-size: 16px;
      text-transform: uppercase;
      margin: 5px 10px;
      a{
        color: white;
        i{
          color: #42c4f6;
        }
      }
    }
  }
}
p{
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: gainsboro;
  text-align: center;
}
@media (max-width: 575.98px) {
  p{
    font-size: 13px;
  }
  .topFooter ul li{
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  p{
    font-size: 15px;
  }
  .topFooter ul li{
    font-size: 15px;
  }
}
