<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="topFooter">
        <ul>
          <li class="btn_gradient">
            <a href="tel:+380505955843"><img src="../../../assets/image/socialIcon/phone.svg" alt="+380505955843"> (050) 595 5843</a>
          </li>
          <li class="btn_gradient">
            <a href="viber://add?number=0505955843"><img src="../../../assets/image/socialIcon/viber.svg" alt="+380505955843"> (050) 595 5843</a>
          </li>
          <li class="btn_gradient">
            <a  href="mailto:motoshield@gmail.com"><img src="../../../assets/image/socialIcon/gmail.svg" alt="motoshield@gmail.com"> Moto Shield</a>
          </li>
          <li class="btn_gradient">
            <a  href="https://www.instagram.com/motoshield/"><img src="../../../assets/image/socialIcon/instagram.svg" alt="motoshield"> Moto Shield</a>
          </li>
          <li><img src="../../../assets/image/socialIcon/loc.svg" alt="Ивано-Франковск"> г. Ивано-Франковск</li>
        </ul>
      </div>
      </div>
    <div class="col-xl-12">
      <p>
        У нас вы можете купить мотоэкипировку от ведущих производителей
         Alpinestars, Dainese, AGV, SHOEI. В ассортименте присутствуют
         много мотоэкипировки по доступным ценам.
      </p>
    </div>

  </div>
</div>
