<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="topFooter">
        <ul>
          <li class="btn_gradient">
            <a href="tel:+380505955843"><i class="fas fa-phone"></i> (050) 595 5843</a>
          </li>
          <li class="btn_gradient">
            <a href="viber://add?number=0505955843"><i class="fab fa-viber"></i> (050) 595 5843</a>
          </li>
          <li class="btn_gradient">
            <a  href="https://www.instagram.com/motoshield/"><i class="fab fa-instagram"></i> Moto Shield</a>
          </li>
        </ul>
        <div class="ln"></div>
      </div>
      </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p>© Moto Shield все права защищены</p>
    </div>

  </div>
</div>
