.itemShop{
    border-bottom: 5px solid #022b63;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,.4);
    border-radius: 3px;
    cursor: pointer;
    transition: all .4s;
    margin: 10px 0;
    p{
      font-size: 16px;
    }
    .imgContainer{
      position: relative;
      .sizeContainer{
        background: black;
        position: absolute;
        right: 10px;
        bottom: 8px;
        color: white;
        width: 30%;
        border-radius: 25px;
        padding: 5px;
        p{
          margin: 0;
          padding: 0;
          text-align: center;
        }
      }
      .label{
        position: absolute;
        top: -8px;
        left: 0px;
        z-index: 1;
        padding: 0 10px;
        height: 25px;
        background: #ff2f2f;
        color: #fff;
        text-align: center;
        font-size: 16px;
      }
      .label::before {
        position: absolute;
        top: 0;
        right: -8px;
        display: block;
        border-width: 4px;
        border-style: solid;
        border-color: transparent transparent #af1f1f #af1f1f;
        content: "";
      }
      img{
        display: block;
        width: 100%;
        margin: 0 auto;
        height: auto;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }
    .textItem{
      padding: 10px;
      background: white;
      h3{
        text-align: center;
        margin: 5px 0 10px 0;
      }
      p{
        margin-top: 10px;
        span img{
          width: 15%;
          height: auto;
        }
        .sale{
          color: #ff2f2f;
          font-weight: bold;
        }
      }
    }
  }
  .itemShop:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.8);
    border-bottom: 5px solid #42c4f6;
    transition: all .4s;
  }

.sold{
  img{
    opacity: .5;
  }
  button{
    background: grey;
  }
}

@media (max-width: 575.98px) {
  .itemShop{
    .imgContainer .sizeContainer p{
      font-size: 14px;
    }
    .textItem p{
      margin-top: 0;
      margin-bottom: 10px;
      text-align: center;
      span img{
        width: 8%;
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .itemShop{
   .textItem p{
      margin-top: 0;
      margin-bottom: 10px;
      text-align: center;
     span img{
       width: 10%;
     }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .itemShop p {
    font-size: 14px;
  }
}
