form{
  background: rgba(0, 65, 123, 0.06);
  border-radius: 3px;
  padding: 20px 10px;
  button{
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
  }
  mat-form-field{
    width: 100%;
  }
  textarea.mat-input-element {
    resize: none;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .dropDown{
    ul{
      background: rgba(0, 65, 123, .1);
      li{
        list-style: none;
        background: rgba(0, 65, 123, .2);
        margin: 2px 0;
        padding: 5px;
        border-radius: 3px;
        cursor: pointer;
      }
    }
  }
}
.wrapItem {
  background: rgba(0, 65, 123, 0.06);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 5px;
  .pay{
    span{
      float: right;
    }
  }
  .item {
    padding: 5px;
    margin: 5px;
    border: 1px solid #42c4f6;
    border-radius: 3px;
    cursor: pointer;
    transition: all .4s;
    width: 100%;
    img {
      width: 150px;
      height: auto;
    }
    ul {
      margin: 0;
      padding: 0;
      position: relative;

      li {
        list-style: none;
        margin-right: 5px;
        display: inline-block;

        span img {
          width: 20px;
          height: auto;
        }

        h5, p {
          text-transform: uppercase;
          font-size: 16px;
          margin: 0;
          padding: 0;
        }

        button {
          position: absolute;
          top: 25%;
          right: 0;
          color: #42c4f6;
          font-size: 20px;
          border: none;
          padding: 10px;
          background: none;
          outline: none;
          transition: all .4s;
        }

        button:active,
        button:hover {
          transition: all .4s;
          outline: none !important;
          color: #ff2f2f;
        }
      }
    }
  }

  .item:hover,
  .item:active {
    background: gainsboro;
    transition: all .4s;
  }
}


