.wrapSection{
  min-height: 100vh;
}
.pagination{
  display: block;
  margin: 0 auto;
  li{
    list-style: none;
    display: inline-block;
    background: #7a1afa;
    color: white;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: all .4s;
  }
  li:hover,
  li:active{
    background: #d500b2;
    transition: all .4s;
  }
  .active{
    background: #d500b2;
    transition: all .4s;
  }
}
