<div class="topHeader">
  <div class="container">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12">
        <div class="logoContainer">
          <a routerLink="/home">
            <img src="../../../assets/image/logowhite.svg" alt="Moto Shield">
          </a>
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <app-nav></app-nav>
      </div>
      <div class="col-xl-2 col-lg-2">
        <div class="shoppingButton" (click)="openDialog()">
          <div class="shoppingIcon">
            <i class="fas fa-shopping-bag"></i>
          </div>
          <p>ваша корзина</p>
        </div>
      </div>
    </div>
  </div>
</div>
