.topHeader{
  background: #011e46;
  padding: 10px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.45);
  position: relative;
  z-index: 10;
  .logoContainer img{
    display: block;
    max-width: 65%;
    height: auto;
  }
  .shoppingButton{
    margin-top: 12px;
    padding: 5px 5px 0px 5px;
    .shoppingIcon{
      font-size: 24px;
    }
    p{
      font-size: 13px;
      padding-top: 10px;
    }
    }
}
