<section class="wrapSection">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="sectionTitle">ТАБЛИЦА РАЗМЕРОВ</h3>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="sizeBlock">
          <h5 class="sectionH5"><img src="../../../assets/image/filterIcon/helm.svg" alt="Шлемы"> Шлемы</h5>
          <p class="sectionText">Чтобы правильно подобрать размер мотошлема, прежде всего вам нужно знать обхват головы, так как в таблицах ниже все размеры в конечном итоге опираются на этот параметр. Чтобы не ошибиться, используйте портновский сантиметр и померяйте окружность головы в самой широкой части - в паре сантиметров над бровями и ушами. Если нет сантиметра, то можете использовать любой шнурок, а затем приложить его к линейке. А еще лучше померяйте несколько раз, чтобы не ошибиться. А вот эта таблица поможет вам определить размер вашего будущего шлема.</p>
          <img src="../../../assets/image/table/head.svg" alt="Шлемы">
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <div class="sizeBlock">
         <h5 class="sectionH5"><img src="../../../assets/image/filterIcon/hend.svg" alt="Перчатки"> Перчатки</h5>
         <p class="sectionText">Чтобы выяснить ваш размер перчаток, придется немного посчитать: нужно измерить обхват ладони в самом широком месте без большого пальца и перевести в дюймы (1 дюйм равен 2,54 см) - это и будет размер перчаток. Размерные сетки большинства производителей соответствуют вот этой таблице.</p>
         <img src="../../../assets/image/table/hand.svg" alt="Перчатки">
       </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="sizeBlock">
          <h5 class="sectionH5"><img src="../../../assets/image/filterIcon/sute.svg" alt="Куртки и комбинезоны"> Куртки и комбинезоны</h5>
          <p class="sectionText">Чтобы корректно определить размер куртки, потребуется несколько больше замеров, чем для шлема или перчаток. Вам понадобится измерить обхват грудной клетки в самой широкой части (на вдохе), талии и бедер. С этими данными уже можно определить размер по таблице.</p>
          <img src="../../../assets/image/table/sute.svg" alt="Куртки и комбинезоны">
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="sizeBlock">
          <h5 class="sectionH5"><img src="../../../assets/image/filterIcon/boots.svg" alt="Мотоботы"> Мотоботы</h5>
          <p class="sectionText">Для определения размера мотобот вам нужно измерить длину стопы от края пятки до края большого пальца (или самого длинного пальца). Случается, что стопы могут быть разной длины, тогда нужно ориентироваться на больший результат. Таблица ниже поможет вам выяснить, какой размер обуви вам подходит.</p>
          <img src="../../../assets/image/table/boots.svg" alt="Мотоботы">
        </div>
      </div>
    </div>
    </div>
</section>
