<section>
  <h5>Шлемы</h5>
  <p>
    Чтобы правильно подобрать размер мотошлема, прежде всего вам нужно знать обхват головы, так как в таблицах ниже все размеры в конечном итоге опираются на этот параметр. Чтобы не ошибиться, используйте портновский сантиметр и померяйте окружность головы в самой широкой части - в паре сантиметров над бровями и ушами. Если нет сантиметра, то можете использовать любой шнурок, а затем приложить его к линейке. А еще лучше померяйте несколько раз, чтобы не ошибиться. А вот эта таблица поможет вам определить размер вашего будущего шлема.
  </p>
  <table>
    <tr>
      <th>Обхват головы, см</th>
      <th>48</th>
      <th>50</th>
      <th>52</th>
      <th>53-54</th>
      <th>55-56</th>
      <th>57-58</th>
      <th>59-60</th>
      <th>61-62</th>
      <th>63-64</th>
      <th>65-66</th>
    </tr>
    <tr>
      <td>Взрослый размер</td>
      <td>XXXXS</td>
      <td>XXXS</td>
      <td>XXS</td>
      <td>XS</td>
      <td>S</td>
      <td>M</td>
      <td>L</td>
      <td>XL</td>
      <td>XXL</td>
      <td>XXL</td>
    </tr>
    <tr>
      <td>Детский/подростковый размер</td>
      <td>XS</td>
      <td>S</td>
      <td>M</td>
      <td>L</td>
    </tr>
  </table>
  <img class="tb" src="../../../assets/image/table/head.jpg" alt="">
</section>
