section{
  .navigation{
    background: rgba(0, 65, 123, 0.15);
    border-radius: 3px;
    ul{
      li{
        list-style: none;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        padding: 5px;
      }
    }
  }
  span{
    background: rgba(0, 65, 123, 0.15);
    display: block;
    padding: 5px;
    width: 110px;
    float: left;
    text-transform: uppercase;
    font-size: 15px;
    margin-right: 10px;
  }
  .line{
    background: #42c4f6;
    height: 2px;
    margin: 10px 0;
  }
  .textProduct{
    h1{
      text-transform: uppercase;
    }
    ul{
      li{
        list-style: none;
        font-size: 16px;
        margin: 12px 0;
        display: block;
        img{
          width: 22px;
          height: auto;
        }
        p{
          padding: 2px;
          margin: 0px;
        }
      }
    }
  }
  .btnBlock{
    margin-top: 50px;
  }
  .downText{
    margin-top: -50px;
    span{
      float: none;
      width: 140px;
      margin: 10px 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
 section .downText{
   margin-top: -20px;
 }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  section {
    .textProduct{
      h1{
        font-size: 16px;
      }
      ul li {
        font-size: 15px;
      }
    }
    .btnBlock {
      margin-top: 5px;
    }
    .downText{
      margin-top: 0px;
    }
  }
}

@media (max-width: 575.98px) {
  section{
    .navigation{
      ul li{
        font-size: 12px;
      }
    }
    .textProduct{
      h1{
        font-size: 15px;
      }
      ul li {
        font-size: 14px;
        span{
          font-size: 14px;
        }
      }
    }
    .btnBlock {
      margin-top: 0px;
    }
    .downText{
      margin-top: 10px;
    }
  }
}
