<section class="wrapSection">
  <div class="wrapCard">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <h3 class="sectionTitle">Доставка и оплата</h3>
        </div>
        <div class="col-xl-12">
        <div class="cardInfo">
          <div class="iconCard bgPayIcon">
            <div class="icon">
              <i class="fas fa-file-invoice-dollar"></i>
            </div>
          </div>
          <div class="textCard bgPayText">
            <h5 class="sectionH5">ОПЛАТА</h5>
            <p class="sectionText">Заказ можно оплатить наличными при самовывозе либо наложенным платежом при получении в отделении компании-перевозчика. Также можно оплатить банковской карточкой любым удобным способом: онлайн либо при получении.</p>
          </div>
        </div>
      </div>
        <div class="col-xl-12">
          <div class="cardInfo">
            <div class="iconCard bgBillIcon">
              <div class="icon">
                <i class="fas fa-truck-moving"></i>
              </div>
            </div>
            <div class="textCard bgBillText">
              <h5 class="sectionH5">Доставка</h5>
              <p class="sectionText">Доставка в любое отделение транспортных компаний (кроме временно оккупированных территорий) Новая Почта, и др. согласно тарифам (стоимость перевозки зависит от груза).
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-12">
          <div class="cardInfo">
            <div class="iconCard bgSendIcon">
              <div class="icon">
                <i class="fas fa-dolly"></i>
              </div>
            </div>
            <div class="textCard bgSendText">
               <h5 class="sectionH5">Самовывоз</h5>
               <p class="sectionText">Вы можете самостоятельно забрать заказ в таких городах:
                 <br>
                 Ивано-Франковск
                 <br>
                 Галич
               </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!--
ОПЛАТА
Оплата налічними
Замовлення можна оплатити готівкою при самовивозі або післяплатою при отриманні у відділенні компанії-перевізника.

Оплата картою
Оплатити замовлення можна банківською картою будь-яким зручним способом:

Оплата онлайн
Оплата картою при самовивозі
ДОСТАВКА АБО САМОВИВІЗ
Доставимо посилку по місту Івано-Франківськ абсолютно безкоштоно.

Ви можете забрати замовлення самостійно в попередньо договореному місці.

Нова Пошта
НОВАЯ ПОЧТА
Відправимо замовлення за вказаною Вами адресою або склад Нової пошти у Вашому місті.

Вартість доставки та повернення грошей (в разі післяплати) розраховується за тарифами Нової пошти і оплачується окремо.-->
