<section>
  <div class="titleSection">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h4 class="sectionH5">Новое</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="shopList">
    <section class="wrapSection">
      <div class="container">
        <div class="row">
          <ng-container *ngFor="let item of listProducts">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <app-shop-item [listProduct]="item"></app-shop-item>
            </div>
          </ng-container>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button class="viewButton" (click)="selectCategory('all')"><i class="far fa-eye"></i> Посмотреть все</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

