section{
  padding: 0;
  .titleSection{
    padding: 10px 0;
    h4{
      color: black;
      text-transform: uppercase;
      padding: 5px 0;
      width: 130px;
      font-weight: 600;
      font-size: 17px;
      border-bottom: 4px solid #42c4f6;
    }
  }
  .shopList{
    padding: 20px;
    button{
      margin: 15px auto;
      display: block;
      color: white;
      font-size: 16px;
      border-radius: 25px;
    }
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  section .shopList button {
    font-size: 15px;
  }
  }

@media (min-width: 576px) and (max-width: 767.98px) {
  section .shopList button {
    font-size: 14px;
  }
}
@media (max-width: 575.98px) {
  section .shopList button {
    font-size: 13px;
  }
}
