.wrapContainer{
  position: relative;
  min-height: 600px;
  overflow: hidden;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.45);
  background: linear-gradient(90deg, rgba(0,28,68,1) 0%, rgba(1,86,153,1) 100%);
  z-index: 5;
  #subImgOne{
    position: absolute;
    z-index: 99;
    left: -2px;
    bottom: -35px;
    width: 30%;
    animation: fadeinLeft 1s linear;
  }
  #subImgTwo{
    position: absolute;
    right: 0;
    bottom: -3px;
    z-index: 99;
    width: 45%;
    animation: fadeinRight 1s linear;
  }

  @keyframes fadeinLeft {
    from {
      opacity: 0;
      left: -10%;
      bottom: -25%;
      width: 25%;
    }
    to   {
      opacity: 1;
      bottom: -35px;
      width: 30%;
    }
  }

  @keyframes fadeinRight {
    from {
      opacity: 0;
      right: -10%;
      bottom: -25%;
      width: 40%;
    }
    to   {
      opacity: 1;
      right: 0;
      bottom: -3px;
      width: 45%;
    }
  }
  .subContainer{
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    img{
      width: 500px;
      height: auto;
      animation: fadeinImage 1s linear;
    }

    @keyframes fadeinImage {
      from {
        opacity: 0;
        width: 400px;
      }
      to   {
        opacity: 1;
        width: 500px;
      }
    }

    .textContainer{
      margin-top: 50px;
      width: 40%;
      .btnWrap{
        margin-top: 30px;
        width: 300px;
        font-size: 20px;
      }
      h2{
        color: white;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
      }
      h1{
        font-size: 17px;
        color: white;
        font-weight: 400;
      }
    }

  }
}
@media (max-width: 575.98px) {
  .wrapContainer{
    min-height: 220px;
    #subImgOne,
    #subImgTwo{
      display: none;
    }
    .subContainer{
      padding: 10px;
      img{
        display: none;
      }
      .textContainer{
        width: 90%;
        margin-top: 20px;
        .btnWrap{
          width: 200px;
          margin: 20px auto;
        }
        h1{
          font-size: 14px;
          text-align: center;
        }
        h2{
          font-size: 15px;
          text-align: center;
        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .wrapContainer{
    min-height: 450px;
    #subImgOne,
    #subImgTwo{
      display: none;
    }
    .subContainer{
      padding: 10px;
      img{
        width: 300px;
        margin-left: -50px;
      }
      .textContainer{
        width: 45%;
        .btnWrap{
          width: 200px;
        }
        h1{
          font-size: 15px;
        }
        h2{
          font-size: 16px;
        }
      }
    }
    @keyframes fadeinImage {
      from {
        opacity: 0;
        width: 250px;
      }
      to   {
        opacity: 1;
        width: 300px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .wrapContainer{
    min-height: 450px;
    #subImgOne,
    #subImgTwo{
      display: none;
    }
    .subContainer{
      padding: 10px;
      img{
        width: 350px;
      }
      .textContainer{
        .btnWrap{
          width: 250px;
        }
        h1{
          font-size: 16px;
        }
        h2{
          font-size: 17px;
        }
      }
    }
    @keyframes fadeinImage {
      from {
        opacity: 0;
        width: 300px;
      }
      to   {
        opacity: 1;
        width: 350px;
      }
    }
  }
  }

@media (min-width: 992px) and (max-width: 1199.98px) {
.wrapContainer{
  min-height: 520px;
  .subContainer{
    .textContainer{
      h1{
        font-size: 16px;
      }
      h2{
        font-size: 17px;
      }
    }
    img{
      width: 400px;
    }
  }
  @keyframes fadeinImage {
    from {
      opacity: 0;
      width: 300px;
    }
    to   {
      opacity: 1;
      width: 400px;
    }
  }
}
}
