<div class="wrapContainer">
  <img id="subImgOne" src="../../../../assets/image/subLeft.svg" alt="Moto Shield">
  <img id="subImgTwo" src="../../../../assets/image/subRight.svg" alt="Moto Shield">
  <div class="subContainer">
    <div class="imageContainer">
      <img src="../../../../assets/image/subLogo.svg" alt="Moto Shield">
    </div>
    <div class="textContainer">
      <h2>Безпека за розумні гроші</h2>
      <h1>У нас вы можете купить мотоэкипировку от ведущих производителей Alpinestars, Dainese, AGV, SHOEI. В ассортименте присутствуют много мотоэкипировки по доступным ценам. Потратьте несколько минут и наш специалист поможет подобрать стильный, удобный и качественный комплект мотоэкипировки, который подойдёт именно Вам.</h1>
      <div class="btnWrap">
        <app-button-callback [btnText]="'Заказать звонок'"></app-button-callback>
      </div>
    </div>
  </div>
</div>

